---
layout: default
---

<div class="main-content">

    <article class="module color-3">
        <h1>{{ page.title }}{{ .shortUrl }}</h1>
        <hr>
        {{ content }}
        <p class="top"><small><a href="#top">[top]</a></small></p>
    </article>


    <div class="social module">
        <ul>

            {% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}

            {% if page.shortUrl != null %}
                {% assign url = page.shortUrl %}
            {% endif %}

            {% assign tagStr = '' %}
            {% for tag in page.tags %}
                {% capture tagStr %}{{ tagStr }}{{ tag }},{% endcapture %}
            {% endfor %}

            <li><a class="fa fa-facebook fa-2x" target="_blank" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?t={{ page.title }}&u={{ url }}"></a></li>
            <li><a class="fa fa-twitter fa-2x" target="_blank" title="Share on Twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ url }}&via={{ site.twitter }}&hashtags={{ tagStr }}"></a></li>
            <li><a class="fa fa-google-plus fa-2x" target="_blank" title="Share on Google+" href="https://plus.google.com/share?url={{ url }}"></a></li>
        </ul>
    </div>

</div>



